:root {
  --background: #232830;
  --first: #ffffff;
  --second: #ff7575;
  --third: #909090;
  --fourth: #4d4d4d;
  --fifth: #4699E0;
  --text: #0F1217;
}

/* reset de estilos */

input,
button {
  font: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Para que el ancho total sea para cada elemento el que especificamos en su propiedad width*/
}

img,
svg {
  display: block; /* Los hptas image, video y svg son inline*/
  height: auto;
  max-width: 100%; /* Para que se ajuste a su contenedor */
}

/* acá se acaban lol */

/* Estilos generales por defecto */

body {
  background-color: var(--background);
  color: var(--first);
  font-family: "Poppins", sans-serif;
  min-height: 100dvh; /* Para el responsive en móviles */
}

h1,
h2 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/*----------------------------------*/

.main-container {
  width: 73.57%; /* el malparido diseño original está mal centrado */
  max-width: 1680px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.5rem;
}

.main-nav > a {
  font-size: 1.875rem;
  transition: color 0.3s ease;
}

.main-nav ul li {
  position: relative;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.main-nav ul li::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 3px;
  width: 0;
  background-color: var(--first);
  transition: width 0.1s ease;
}

.main-nav ul li:hover::before {
  width: 100%;
}

.main-nav ul li:hover,
.main-nav > a:hover {
  opacity: 50%;
}

nav a {
  color: var(--first);
  text-decoration: none;
}

li {
  display: inline; /* Para que estén en linea seguiditos*/
  list-style-type: none;
  margin: 0 1.125rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.hero-section img {
  margin-bottom: 2.56rem;
}

.hero-section p {
  margin: 1rem;
  font-size: 1.8125rem;
}

h1 {
  color: var(--second);
  font-size: 4.5rem; /* Toca recordar que estamos en base 16px */
  font-family: "Recursive", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.divider {
  border: 1px solid var(--fourth);
  margin-top: 5.1875rem;
  margin-bottom: 1rem;
  width: 100%;
}

.secondary-navbar {
  display: flex;
  justify-content: center;
  font-family: "Recursive";
  gap: 1rem;
  font-style: italic;
  font-size: 1.6rem;
}

.secondary-navbar-list-items::-webkit-scrollbar {
  display: none;
}

.secondary-navbar img {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.secondary-navbar img:hover {
  opacity: 0.5;
}

.secondary-navbar img + img {
  margin-right: 1.5625rem;
} 

.secondary-navbar-list-items {
  height: 2.4rem;
  display: flex;
  overflow-x: hidden;
  mask-image: linear-gradient(
    to right,
    black 0%,
    black calc(100% - 60px),
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    black 0%,
    black calc(100% - 60px),
    transparent 100%
  );
}

.category-button {
  position: relative; /* Tocaba porque sino, el absolute se embolataba */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  color: var(--third);
  transition: color 0.3s ease;
  user-select: none; /*fina coquetería para que no se seleccione el texto del botón al hacer varias veces click*/
  -webkit-user-select: none;
}

.category-button:hover {
  color: var(--first);
}

.category-button.active {
  color: var(--second);
}

.category-button::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 3px;
  width: 0;
  background-color: var(--second);
  transition: width 0.3s ease;
}

.category-button.active::before {
  width: 100%;
}

.category-button:focus-visible {
  outline: 2px solid var(--first);
  outline-offset: 4px;
}

.article-cards-container {
  margin-top: 5.87em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.3125em;
}

.article-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--first);
  color: var(--text);
  max-width: 24.375rem;
  padding: 1.625rem;
  border-radius: 2rem;
  transition: transform 0.3s ease, 
              box-shadow 0.3s ease, 
              scale 0.3s ease;
}

.article-card:hover {
  transform: translateY(-8px);
  scale: 1.05;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15),
              0 4px 8px rgba(0, 0, 0, 0.1);
}

.article-card img {
  max-width: 21.0625rem;
  max-height: 10rem;
  object-fit: contain;
}

.article-card-title {
  color: #0F1217;
  font-weight: 600;
  font-size: 1.1875rem;
  line-height: 1.75rem;
  margin-top: 2.0625rem;
  margin-bottom: 0.8125rem;
}

.article-card-info {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.article-card-footer {
  display: flex;
  gap: 1.3rem;
  font-size: 1rem;
  line-height: 1.875rem;
}

.global-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-left: 14.3rem;
  margin-right: 14.3rem;
  font-family: 'Source Sans 3';
  color: var(--first);
}

.global-footer > div span {
  margin-right: 1rem;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.375rem;
}

.footer-author {
  background-color: var(--fifth);
  color: var(--first);
  border: none;
  border-radius: 5px;
  padding: 6px 13px;
  font-size: 1.1875rem;
  cursor: pointer;
  transform: color 0.3s ease;
}

.footer-author:hover {
  opacity: 50%;
}

.footer-follow {
  background-color: var(--fifth);
  border: none;
  display: flex;
  align-items: center;
  color: var(--first);
  border-radius: 5px;
  font-family: 'Source Sans 3';
  padding: 2px 10px;
  font-size: 1.1875rem;
  cursor: pointer;
  font-weight: 600;
  padding-left: 11px;
  padding-right: 8px;
  height: 2.4375rem;
  transform: color 0.3s ease;
}

.footer-follow:hover {
  opacity: 50%;
}

.twitter-logo {
  margin-right: 0.625em;
  display: inline;
  max-width: 1.2rem;
  max-height: 1rem;
}

@media (max-width: 1690px) {
  html {
    font-size: 14px; 
  }
}

@media (max-width: 1480px) {
  .article-cards-container {
    margin-top: 6%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 32px;
    justify-content: space-evenly;
  }

}

@media (max-width: 1024px) {
  .article-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .global-footer button {
    height: auto;
  }
}

@media (max-width: 980px) {
  .global-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 2rem 2rem;
  }

  .global-footer > div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .article-cards-container {
      justify-content:center;
  }

  .article-cards-container {
      gap: 2rem;
    }

  .main-nav {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}


@media (max-width: 490px) {
  .categories {
    display: flex;
  }
}