
:root {
    --background: #232830;
    --primary: #FFFFFF;
    --secondary: #FF7575;
    --tertiary: #909090;
    --quaternary: #4D4D4D;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: black;
}

.main-nav{
  display: flex;
  margin: 74px 213px 74px 213px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

nav a {
  color: black;
  text-decoration: none;
}

.main-nav > div {
  display: flex;
  align-items: flex-end;
}


h1 {
  color: #FF7575;
  font-size: 71px;
  font-family: 'Recursive', sans-serif;
  font-style: italic;
  font-weight: 400;
}